# Observation service images
PROMETHEUS_IMAGE_TAG=latest
GRAFANA_IMAGE_TAG=latest
GPU_EXPORTER_IMAGE_TAG=latest

# Observation service ports
PROMETHEUS_HOST_PORT=18093
GRAFANA_HOST_PORT=18094
GPU_EXPORTER_HOST_PORT=9835

# Grafana access
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ANONYMOUS_ENABLED=true
GRAFANA_ANONYMOUS_ORG_ROLE=Viewer
